<header class='flex bg-gradient-to-b from-stone-300 to-stone-200 text-stone-500 pb-8 pt-2 px-2 justify-between w-full'>
    <a href='/'>
        <img class='h-6' src="<%= asset_path('html_tag.png') %>" />
    </a>

    <div class='space-x-2'>
        <a href='/about'>About</a>
        <a href='/projects'>Projects</a>
        <a href='/blog'>Blog</a>
        <a href='/contact'>Contact</a>
    </div>
</header>
